@media only screen and (max-width: 1920px)
  .about .container_hd
    padding-left: 20px

@media only screen and (max-width: 1280px)
  .header
    &__navigation
      justify-content: flex-end
      &__list
        margin: 0
        padding: 60px 20px
        z-index: 15
        &.active
          transform: translateY(0)
      &__controls
        margin-left: 24px
      &__item_contacts
        display: unset
        .contacts__list
          display: flex
          flex-flow: column
          gap: 16px

  .btn_burger
    display: flex

@media only screen and (max-width: 1024px)

@media only screen and (max-width: 864px)

@media only screen and (max-width: 768px)
  .container
    padding: 0 32px

@media only screen and (max-width: 640px)
  .container
    padding: 0 24px

@media only screen and (max-width: 480px)
  .container
    padding: 0 16px

@media only screen and (max-width: 360px)
  .container
    padding: 0 8px
