.footer
  margin-top: -200px
  background-color: $black
  &__wrapper
    display: flex
    justify-content: space-between
    align-items: center
  &__logo
    position: relative
    z-index: 20
  &__nav
    position: relative
    z-index: 20
  &__navigation__list
    display: flex
